
snippet html5 "Generate html5 snippet" b
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>$1</title>
	<meta name="description" content="$1">

	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
</body>
</html>
endsnippet


snippet img "Generate img tag" b
<img src="$1" alt="$2">
endsnippet
