# Carlos Mafla - Custom HTML snippets
snippet html5 "html5 basic template" b
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>$1</title>
	<script src="js/main.js"></script>
</head>

<body>
	<h1>$1</h1>
</body>

</html>
endsnippet

snippet div "div tag" b
<div class="${1}">
	${2}
</div>
endsnippet 

snippet script "script tag" b
<script src="js/$1.js"></script> 
endsnippet 
